/*----------------------------------------------------------------------------*/
/*----------------------------------ALL SIZES---------------------------------*/
/*----------------------------------------------------------------------------*/

/*----------------------------------ALL PAGES---------------------------------*/

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--transparent: #f8f6f200;
	--off-white: #f8f6f2;
	--light-grid: #ede6d9;
	--dark-grid: #9F9581;
	--light-color: #ffffff;
	--dark-color: #000000;
	--desk-font-XL: min(4.7vw, 90px);
	--desk-font-L: min(2.8vw, 54px);
	--desk-font-M: min(1.2vw, 28px);
	--desk-font-S: min(1.0vw, 24px);
	--desk-font-XS: min(0.75vw, 14px);
	--tab-font-XL: 13vw;
	--tab-font-L: 5vw;
	--tab-font-M: 3.4vw;
	--tab-font-S: 2vw;
	--tab-font-XS: 1.4vw;
	--mob-font-XL: 16.6vw;
	--mob-font-L: 9vw;
	--mob-font-M: 4.6vw;
	--mob-font-S: 3.2vw;
	--mob-font-XS: 2.6vw;
}

html {
	/*unclear if this helps*/
	overscroll-behavior: contain;
}

body {
	background-color: var(--off-white);
	/*font-family: "Inter", sans-serif;*/
	font-family: "Figtree", sans-serif;
	font-weight: 300;
	font-optical-sizing: auto;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

/*-----------------------------GRID+LOGO+PRELOADER----------------------------*/

#homepage {
	position: fixed;
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	z-index: 1;
}

#grid-logo {
	stroke-width: 1;
	position: fixed;
	z-index: 0;
}

.logo-line {
	stroke: var(--dark-grid);
	stroke-linecap: square;
	vector-effect: non-scaling-stroke;
}

.grid-line {
	stroke: var(--light-grid);
	stroke-linecap: square;
	vector-effect: non-scaling-stroke;
}

#preloader {
	position: fixed;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	z-index: 1;
	overflow: hidden;
	transition: opacity 500ms ease-out, filter 500ms ease-out;
}

.percentage {
	position: fixed;
	width: 100px;
	height: 100px;
	padding: 30px;
	letter-spacing: 2px;
}

.top-left {
	top: 0;
	left: 0;
}

.top-right {
	top: 0;
	right: 0;
	text-align: right;
}

.bottom-left {
	bottom: 0;
	left: 0;
	line-height: 70px;
}

.bottom-right {
	bottom: 0;
	right: 0;
	text-align: right;
	line-height: 70px;
}

/*--------------------------------HOMEPAGE INFO-------------------------------*/

#homepage-info {
	display: grid;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#homepage-info > * {
	margin: 0;
	font-weight: 500;
	opacity: 0;
	filter: blur(4px);
	transition: opacity 500ms ease-out, filter 500ms ease-out, color 500ms ease-out;
}

#skills, #date-time,#developer, #about-info {
	font-weight: 300;
}

#scroll {
	text-shadow: 0 0 16px var(--off-white);
	animation: float 3800ms ease-in-out infinite;
	transition: opacity 700ms 500ms ease-out, filter 700ms 500ms ease-out;

}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
}

#about-close {
	transition: transform 500ms cubic-bezier(0.79,0.14,0.15,0.86);
}

#about-close:hover {
	transform: rotate(180deg);
	cursor: pointer;
}

#about-info {
	text-align: justify;
}

/*---------------------------------PROJECT FEED-------------------------------*/

#project-feed {
	display: grid;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	inset: 0;
	margin: auto;
	place-items: start;
	align-content: start;
	width: 100%;
	z-index: 0;
}

.project-row {
	display: contents;
}

.project-row:hover > * {
	cursor: pointer;
}

.project-cell {
	border: 0.5px var(--dark-grid) solid;
	width: 100%;
	overflow: hidden;
}

.project-cell img {
	width: 100%;
	opacity: 0;
	transition: opacity 300ms cubic-bezier(0.79,0.14,0.15,0.86);
}

.project-text {
	opacity: 0;
	filter: blur(4px);
	font-weight: 300;
	transition: opacity 500ms ease-out, filter 500ms ease-out;
}

.project-text-repeat {
	font-weight: 300;
}

.project-text span, .project-text-repeat span {
	font-weight: 500;
}

.project-number {
	font-weight: 500;
	border-bottom: 1px solid var(--dark-grid);
	width: fit-content;
}

/*------------------------------INDIVIDUAL PROJECT----------------------------*/

.project-view {
	position: fixed;
	border: 1px var(--dark-grid) solid;
	background-color: var(--dark-color);
	color: var(--light-color);
	opacity: 0;
	z-index: 10;
	overflow: hidden;
	transition: top 500ms cubic-bezier(0.79,0.14,0.15,0.86),
				left 500ms cubic-bezier(0.79,0.14,0.15,0.86),
				width 500ms cubic-bezier(0.79,0.14,0.15,0.86),
				height 500ms cubic-bezier(0.79,0.14,0.15,0.86),
				padding 500ms cubic-bezier(0.79,0.14,0.15,0.86),
				opacity 500ms;
}

.project-view:hover {
	cursor: auto;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.text-column {
	display: flex;
	flex-direction: column;
}

.project-close {
	position: absolute;
	opacity: 0;
	transition: transform 500ms cubic-bezier(0.79,0.14,0.15,0.86), opacity 1000ms;
}

.project-close:hover {
	transform: rotate(180deg);
	cursor: pointer;
}

.project-desc {
	opacity: 0;
	transition: opacity 1000ms;
}

.video {
	height: 100%;
	opacity: 0;
	overflow-y: scroll;
	mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 18%);
	transition: opacity 1000ms;
}

.video iframe {
	width: 100%;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------DESKTOP-----------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (min-width: 901px) {

	body {
		height: 400vh;
	}

/*-----------------------------GRID+LOGO+PRELOADER----------------------------*/

	#grid-logo {
		/*grid height is 3.5x its width, desktop width is screen width*/
		height: 350vw;
		top: calc(calc(350vw - 100vh) / -2);
		top: calc(calc(350vw - 100dvh) / -2);
		left: 0;
	}

	.percentage {
		font-size: var(--desk-font-M);
	}

/*--------------------------------HOMEPAGE INFO-------------------------------*/

	#homepage-info {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(5, calc(100vw / 8));
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	#homepage-info > * {
		padding: 0.4vw 0.6vw;
	}

	#name {
		grid-column: 2 / 4;
		grid-row: 2 / 3;
		place-self: start;
		padding: 1.7vw;
		font-size: var(--desk-font-XL);
		line-height: 4.6vw;
		z-index: 6;
	}

	#title {
		grid-column: 3 / 4;
		grid-row: 3 / 4;
		place-self: start;
		font-size: var(--desk-font-M);
	}

	#skills {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
		align-self: start;
		justify-self: end;
		text-align: right;
		font-size: var(--desk-font-S);
		line-height: 1.4vw;
	}

	#about {
		grid-column: 5 / 6;
		grid-row: 2 / 3;
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		font-size: var(--desk-font-S);
		cursor: pointer;
		z-index: 4;
		transition: color 300ms, filter 500ms;
	}

	#about-rollover {
		grid-column: 5 / 6;
		grid-row: 2 / 3;
		overflow: hidden;
	}

	.black-square {
		width: calc(100% + 1.2vw);
		height: calc(100% + 0.8vw);
		margin: -0.4vw -0.6vw;
		background-color: var(--dark-color);
		transform: translateX(-101%);
		transition: transform 300ms cubic-bezier(0.79,0.14,0.15,0.86);
		z-index: 3;
	}

	#contact {
		grid-column: 5 / 6;
		grid-row: 4 / 5;
		display: flex;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		font-size: var(--desk-font-S);
		cursor: pointer;
		text-decoration: none;
		color: inherit;
		z-index: 4;
		transition: color 300ms, filter 500ms;
	}

	#contact-rollover {
		grid-column: 5 / 6;
		grid-row: 4 / 5;
		overflow: hidden;
	}

	#linkedin {
		grid-column: 7 / 8;
		grid-row: 3 / 4;
		display: flex;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		font-size: var(--desk-font-S);
		cursor: pointer;
		text-decoration: none;
		color: inherit;
		z-index: 4;
		transition: color 300ms, filter 500ms;
	}

	#linkedin-rollover {
		grid-column: 7 / 8;
		grid-row: 3 / 4;
		overflow: hidden;
	}

	#scroll {
		margin-top: 2vh;
		grid-column: 4 / 6;
		grid-row: 5 / 6;
		align-self: start;
		justify-self: center;
		text-align: center;
		font-size: var(--desk-font-S);
	}

	.side-arrow {
		width: 0.6vw;
		margin-left: 4px;
	}

	.down-arrow {
		width: 0.6vw;
		transform: rotate(135deg);
		margin-left: 1px;
	}

	#date-time {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		place-self: start;
		font-size: var(--desk-font-XS);
		writing-mode: vertical-rl;
		border-top: 1px var(--dark-grid) solid;
		margin-bottom: -1px;
	}

	#developer {
		grid-column: 8 / 9;
		grid-row: 4 / 5;
		place-self: end;
		font-size: var(--desk-font-XS);
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		border-top: 1px var(--dark-grid) solid;
		margin-bottom: -1px;
	}

/*-----------------------------------ABOUT ME---------------------------------*/

	#about-window {
		grid-column: 5 / 6;
		grid-row: 2 / 3;
		width: 100%;
		height: 100%;
		background-color: var(--dark-color);
		transition: transform 800ms cubic-bezier(0.79,0.14,0.15,0.86);
		z-index: 5;
	}

	#about-info {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
		place-self: start;
		font-size: var(--desk-font-XS);
		color: var(--off-white);
		padding: 1.7vw;
		z-index: 6;
	}

	#about-pic {
		grid-column: 4 / 7;
		grid-row: 2 / 5;
		align-self: center;
		width: 100%;
		height: 100%;
		padding: 1.7vw 0 1.7vw 3.4vw;
		z-index: 6;
	}

	#about-close {
		grid-column: 7 / 8;
		grid-row: 2 / 3;
		justify-self: end;
		align-self: start;
		width: 2.5vw;
		margin: 1.7vw;
		padding: 0;
		z-index: 6;
	}

/*---------------------------------PROJECT FEED-------------------------------*/

	#project-feed {
		grid-template-columns: repeat(6, 1fr);
	}

	.project-cell, .project-view {
		width: calc(100vw / 6);
		height: calc(100vw / 6);
	}

	.project-info, .project-view {
		padding: 2vw;
	}

	.project-text, .project-text-repeat {
		font-size: var(--desk-font-M);
		line-height: 1.4vw;
	}

	.project-number {
		font-size: var(--desk-font-L);
		line-height: 2.1vw;
		padding-bottom: 1.4vw;
		margin-bottom: 1.4vw;
	}

/*------------------------------INDIVIDUAL PROJECT----------------------------*/

	.project-close {
		width: 2.5vw;
		top: 4vw;
		right: 4vw;
	}

	.flex-container {
		flex-direction: row;
	}

	.project-desc {
		margin-top: 1.4vw;
		font-size: var(--desk-font-S);
	}

	.video {
		width: 64vw;
		padding-bottom: 4vw;
	}

	.video iframe {
		height: 36vw;
		margin-bottom: 1.4vw;
	}

}

/*----------------------------------------------------------------------------*/
/*----------------------------------TABLET------------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {

	body {
		height: 300vh;
	}

/*-----------------------------GRID+LOGO+PRELOADER----------------------------*/

	#grid-logo {
		/*grid on table and mobiel is initially zoomed in slightly*/
		height: calc(350vw * 1.1875);
		top: calc(calc(calc(350vw * 1.1875) - 100vh) / -2);
		top: calc(calc(calc(350vw * 1.1875) - 100dvh) / -2);
		left: calc(calc(calc(100vw * 1.1875) - 100vw) / -2);
	}

	.percentage {
		font-size: var(--tab-font-S);
	}

/*--------------------------------HOMEPAGE INFO-------------------------------*/

	#homepage-info {
		grid-template-columns: repeat(32, 1fr);
		grid-template-rows: repeat(45, calc(100vw / 32));
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	#name {
		grid-column: 5 / 24;
		grid-row: 9 / 16;
		align-self: center;
		justify-self: start;
		font-size: var(--tab-font-XL);
		line-height: 11.5vw;
		z-index: 6;
		transition: color 500ms, margin 700ms;
	}

	#title {
		grid-column: 5 / 29;
		grid-row: 17 / 18;
		align-self: center;
		justify-self: start;
		font-size: var(--tab-font-M);
		padding-left: 4px;
	}

	#skills {
		grid-column: 5 / 29;
		grid-row: 22 / 28;
		align-self: center;
		justify-self: start;
		font-size: var(--tab-font-S);
		line-height: 3.1vw;
		padding-left: 4px;
	}

	#about {
		grid-column: 5 / 9;
		grid-row: 3 / 4;
		align-self: center;
		justify-self: start;
		font-size: var(--tab-font-S);
		padding-left: 4px;
		cursor: pointer;
	}

	#about-rollover {
		grid-column: 14 / 20;
		grid-row: 2 / 5;
		overflow: hidden;
	}

	.black-square {
		width: 100%;
		height: 100%;
		background-color: var(--dark-color);
		transform: translateX(-101%);
		transition: transform 300ms cubic-bezier(0.79,0.14,0.15,0.86);
		z-index: 3;
	}

	#contact {
		grid-column: 25 / 29;
		grid-row: 3 / 4;
		align-self: center;
		justify-self: end;
		text-decoration: none;
		color: inherit;
		font-size: var(--tab-font-S);
		padding-right: 4px;
	}

	#scroll {
		grid-column: 14 / 20;
		grid-row: 32 / 34;
		place-self: center;
		text-align: center;
		font-size: var(--tab-font-S);
	}

	.side-arrow {
		width: 1.5vw;
		margin-left: 2px;
	}

	.down-arrow {
		width: 1.5vw;
		transform: rotate(135deg);
		margin-left: 0.5px;
		margin-top: 6px;
	}

	#date-time {
		grid-column: 1 / 2;
		grid-row: 11 / 20;
		align-self: start;
		justify-self: center;
		font-size: var(--tab-font-XS);
		writing-mode: vertical-rl;
		border-top: 0.5px var(--dark-grid) solid;
		margin-left: 1px;
		padding-top: 0.6vw;
		padding-right: 0.6vw;
		width: 100%;
	}

	#developer {
		grid-column: 32 / 33;
		grid-row: 19 / 28;
		align-self: end;
		font-size: var(--tab-font-XS);
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		border-top: 0.5px var(--dark-grid) solid;
		margin-bottom: -1px;
		padding-top: 0.6vw;
		padding-left: 0.6vw;
		width: 100%;
	}

/*-----------------------------------ABOUT ME---------------------------------*/

	#about-window {
		grid-column: 14 / 20;
		grid-row: 2 / 5;
		width: 100%;
		height: 100%;
		background-color: var(--dark-color);
		transition: transform 800ms cubic-bezier(0.79,0.14,0.15,0.86),
					grid-column 800ms cubic-bezier(0.79,0.14,0.15,0.86),
					grid-row 800ms cubic-bezier(0.79,0.14,0.15,0.86);
		z-index: 5;
	}

	#about-info {
		grid-column: 5 / 24;
		grid-row: 13 / 19;
		place-self: start;
		font-size: var(--tab-font-S);
		color: var(--off-white);
		z-index: 6;
	}

	#about-pic {
		grid-column: 5 / 24;
		grid-row: 20 / 39;
		width: 100%;
		height: 100%;
		padding: 0;
		z-index: 6;
	}

	#about-close {
		grid-column: 28 / 31;
		grid-row: 3 / 6;
		justify-self: end;
		align-self: start;
		width: 5vw;
		padding: 0;
		z-index: 6;
	}

/*---------------------------------PROJECT FEED-------------------------------*/

	#project-feed {
		grid-template-columns: repeat(4, 1fr);
	}

	.project-cell, .project-view {
		width: calc(100vw / 4);
		height: calc(100vw / 4);
	}

	.project-info, .project-view {
		padding: 3vw;
	}

	.project-text, .project-text-repeat {
		font-size: var(--tab-font-S);
		line-height: 2.2vw;
	}

	.project-number {
		font-size: var(--tab-font-L);
		line-height: 4.5vw;
		padding-bottom: 2vw;
		margin-bottom: 2vw;
	}

/*------------------------------INDIVIDUAL PROJECT----------------------------*/

	.project-close {
		width: 5vw;
		top: 5vw;
		right: 5vw;
	}

	.flex-container {
		flex-direction: column;
	}

	.project-desc {
		margin: 2.2vw 0;
		font-size: var(--tab-font-S);
	}

	.video {
		width: 100%;
		padding-bottom: 10vw;
	}

	.video iframe {
		height: 54vw;
		margin-bottom: 1.4vw;
	}

}

/*----------------------------------------------------------------------------*/
/*----------------------------------MOBILE------------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {

	body {
		height: 300vh;
	}

/*-----------------------------GRID+LOGO+PRELOADER----------------------------*/

	#grid-logo {
		/*grid on table and mobiel is initially zoomed in slightly*/
		height: calc(350vw * 1.1875);
		top: calc(calc(calc(350vw * 1.1875) - 100vh) / -2);
		top: calc(calc(calc(350vw * 1.1875) - 100dvh) / -2);
		left: calc(calc(calc(100vw * 1.1875) - 100vw) / -2);
	}

	.percentage {
		padding: 15px;
		font-size: var(--mob-font-S);
	}

/*--------------------------------HOMEPAGE INFO-------------------------------*/

	#homepage-info {
		grid-template-columns: repeat(32, 1fr);
		grid-template-rows: repeat(70, calc(100vw / 32));
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	#name {
		grid-column: 5 / 29;
		grid-row: 12 / 22;
		align-self: center;
		justify-self: start;
		font-size: var(--mob-font-XL);
		line-height: 16vw;
		z-index: 6;
		transition: color 500ms, margin 700ms;
	}

	#title {
		grid-column: 5 / 29;
		grid-row: 23 / 25;
		align-self: center;
		justify-self: start;
		font-size: var(--mob-font-M);
		padding-left: 4px;
	}

	#skills {
		grid-column: 5 / 29;
		grid-row: 30 / 38;
		align-self: center;
		justify-self: start;
		font-size: var(--mob-font-S);
		line-height: 4.0vw;
		padding-left: 4px;
	}

	#about {
		grid-column: 5 / 10;
		grid-row: 3 / 4;
		align-self: center;
		justify-self: start;
		font-size: var(--mob-font-S);
		padding-left: 4px;
		cursor: pointer;
	}

	#about-rollover {
		grid-column: 14 / 20;
		grid-row: 2 / 5;
		overflow: hidden;
	}

	.black-square {
		width: 100%;
		height: 100%;
		background-color: var(--dark-color);
		transform: translateX(-101%);
		transition: transform 300ms cubic-bezier(0.79,0.14,0.15,0.86);
		z-index: 3;
	}

	#contact {
		grid-column: 23 / 29;
		grid-row: 3 / 4;
		align-self: center;
		justify-self: end;
		text-decoration: none;
		color: inherit;
		font-size: var(--mob-font-S);
		padding-right: 4px;
	}

	#scroll {
		grid-column: 13 / 21;
		grid-row: 44 / 47;
		place-self: center;
		text-align: center;
		font-size: var(--mob-font-S);
	}

	.side-arrow {
		width: 2.0vw;
		margin-left: 2px;
	}

	.down-arrow {
		width: 2.0vw;
		transform: rotate(135deg);
		margin-left: 0.5px;
		margin-top: 6px;
	}

/*-----------------------------------ABOUT ME---------------------------------*/

	#about-window {
		grid-column: 14 / 20;
		grid-row: 2 / 5;
		width: 100%;
		height: 100%;
		background-color: var(--dark-color);
		transition: transform 800ms cubic-bezier(0.79,0.14,0.15,0.86),
					grid-column 800ms cubic-bezier(0.79,0.14,0.15,0.86),
					grid-row 800ms cubic-bezier(0.79,0.14,0.15,0.86);
		z-index: 5;
	}

	#about-info {
		grid-column: 5 / 29;
		grid-row: 16 / 23;
		place-self: start;
		font-size: var(--mob-font-XS);
		color: var(--off-white);
		z-index: 6;
	}

	#about-pic {
		grid-column: 5 / 29;
		grid-row: 25 / 49;
		width: 100%;
		height: 100%;
		padding: 0;
		z-index: 6;
	}

	#about-close {
		grid-column: 28 / 31;
		grid-row: 3 / 6;
		justify-self: end;
		align-self: start;
		width: 5vw;
		padding: 0;
		z-index: 6;
	}

/*---------------------------------PROJECT FEED-------------------------------*/

	#project-feed {
		grid-template-columns: repeat(2, 1fr);
	}

	.project-cell, .project-view {
		width: calc(100vw / 2);
		height: calc(100vw / 2);
	}

	.project-info, .project-view {
		padding: 5vw;
	}

	.project-text, .project-text-repeat {
		font-size: var(--mob-font-S);
		line-height: 4vw;
	}

	.project-number {
		font-size: var(--mob-font-L);
		line-height: 8vw;
		padding-bottom: 4vw;
		margin-bottom: 4vw;
	}

	.project-cell img {
		opacity: 1 !important;
	}

/*------------------------------INDIVIDUAL PROJECT----------------------------*/

	.project-close {
		width: 7vw;
		top: 5vw;
		right: 5vw;
	}

	.flex-container {
		flex-direction: column;
	}

	.project-desc {
		margin: 4vw 0;
		font-size: var(--mob-font-XS);
	}

	.video {
		width: 100%;
		padding-bottom: 14vw;
	}

	.video iframe {
		height: 54vw;
		margin-bottom: 2vw;
	}

}

/*----------------------------------------------------------------------------*/
/*---------------------NEED CHECK FOR MOBILE LANDSCAPE------------------------*/
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/*-----------------------------------END--------------------------------------*/
/*----------------------------------------------------------------------------*/